$iconos-archivos: (
    // Excel (.xlsx y .xls)
    "xlsx": "excel.png",
    "xls": "excel.png",

    // PDF
    "pdf": "pdf.png",

    // Imágenes (.png, .jpg, .jpeg)
    "png": "imagen.png",
    "jpg": "imagen.png",
    "jpeg": "imagen.png",

    // Word (.docx y .doc)
    "docx": "word.png",
    "doc": "word.png",

    // Archivos comprimidos
    "zip": "zip.png",

    // Audio
    "mp3": "audio.png",

    // Video
    "mp4": "video.png"
);

.listDoc {
    @each $ext, $archivo in $iconos-archivos {


        a[href$=".#{$ext}" i]::after {  //recordar que siempre el # se usa para declarar variables dentro del css
            content: image-set(url('../assets/iconos/#{$archivo}') type("image/png") 4x); //este type es para decirle al navegador que tipo de arhivo va a cargar y si no lo soporta pues ni lo intenta y el 4x es la cantidad que la imagen se comprime, se usa si la imagen es muy grande. 

            transform: scale(1.7);
            margin-left: 15px;
            display: inline-block;
            vertical-align: middle;
        }
    }
}